.gc-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 10px 20px;
    border-radius: var(--border-radius);

    background-color: var(--dark0-soft);
}

.gc-form-header {
    width: 100%;
    background-color: var(--dark0-hard);
    text-align: center;
    color: var(--light0-soft);
    font-size: large;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.gc-form-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gc-form-label-text {
    color: var(--light0-soft);
}

.gc-input-text {
    outline: none;
    background-color: var(--dark0-soft);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid var(--light0);
    color: var(--light0);
    border-radius: var(--border-radius);
    padding: 5px 10px;
}

.gc-input-button {
    outline: none;
    background-color: var(--light0-soft);
    border: 1px solid var(--light0);
    color: var(--dark0);
    border-radius: var(--border-radius);
    padding: 5px 10px;
}

.gc-form-error {
    width: 100%;
    text-align: center;
    color: var(--neutral-red);
}