:root {
    --white: #fff;
    --background: #e8eafc;
    --foreground: #333;

    --button: #555;
}

* {
    font-family: "GolosText", serif;
    font-weight: 400;
}

.container {
    width: 100%;
}

.container-xl{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .container-xl{
        max-width: 1140px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1320px;
    }
    .container-xl{
        max-width: 1320px;
    }
}

body {
    background-color: var(--background);
}

header {
    width: 100%;
    background-color: var(--foreground);
    display: flex;
    justify-content: center;
    padding: 5px;
}

.header-container{
    display: flex;
}

.header-link {
    text-decoration: none;
    display: flex;
    gap: 5px;
    color: var(--white);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-list-link a {
    background-color: var(--button);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

.icon-list-link a img {

}

.icon-list-link a span {
    margin-left: 5px;
    color: var(--white);
}
