:root {
    /* colors are taken from gruvbox */
    --dark0-hard: #1d2021;
    --dark0: #282828;
    --dark0-soft: #32302f;
    --dark1: #3c3836;
    --dark2: #504945;
    --dark3: #665c54;
    --dark4: #7c6f64;

    --gray: #928374;

    --light0-hard: #f9f5d7;
    --light0: #fbf1c7;
    --light0-soft: #f2e5bc;

    --light1: #ebdbb2;
    --light2: #d5c4a1;
    --light3: #bdae93;
    --light4: #a89984;

    --bright-red: #fb4934;
    --bright-green: #b8bb26;
    --bright-yellow: #fabd2f;
    --bright-blue: #83a598;
    --bright-purple: #d3869b;
    --bright-aqua: #8ec07c;
    --bright-orange: #fe8019;

    --neutral-red: #cc241d;
    --neutral-green: #98971a;
    --neutral-yellow: #d79921;
    --neutral-blue: #458588;
    --neutral-purple: #b16286;
    --neutral-aqua: #689d6a;
    --neutral-orange: #d65d0e;

    --faded-red: #9d0006;
    --faded-green: #79740e;
    --faded-yellow: #b57614;
    --faded-blue: #076678;
    --faded-purple: #8f3f71;
    --faded-aqua: #427b58;
    --faded-orange: #af3a03;

    --border-radius: 12px;
}

* {
    font-family: "GolosText", serif;
    font-weight: 400;
}

.container {
    width: 100%;
}

.container-xl{
    width: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .container-xl{
        max-width: 1140px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1320px;
    }
    .container-xl{
        max-width: 1320px;
    }
}

body {
    background-color: var(--background);
}

header {
    width: 100%;
    background-color: var(--foreground);
    display: flex;
    justify-content: center;
    padding: 5px;
}

.header-container{
    display: flex;
    width: 100%;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-link {
    text-decoration: none;
    display: flex;
    gap: 5px;
    color: var(--white);
}

.header-right-link-first {
    margin-left: auto;
}



main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-list-link a {
    background-color: var(--button);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

.icon-list-link a img {

}

.icon-list-link a span {
    margin-left: 5px;
    color: var(--white);
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--white);
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 250px;
    bottom: 100%;
    left: 50%;
    margin-left: -125px;
    background-color: var(--foreground);
    color: var(--white);
    border: 1px solid var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--white) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.styled-table thead {
    background-color: var(--foreground);
    color: var(--white);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--foreground);
}


kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
            0 1px 1px rgba(0, 0, 0, 0.2),
            0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}