:root {
    --space-extra-small: 8px;
    --space-small: 8px;
    --space-large: 20px;
    --space-extra-large: 24px;
}

main {
    width: 100%;
    margin: 0;
    padding-top: var(--space-extra-large);
}

.gc-form{
    width: 80%;
}

.gc-table{
    width: 100%;
}

.gc-table-caption {
    justify-content: start;
    padding-left: var(--space-small);
}
