{{ define "title"}}
    Page Not Found
{{ end }}

{{ define "main" }}
    <main>
        <div class="page-not-found">Whoops... page does not exists <img src="static/img/gopher-dead.png" alt="gopher" id="gopher"></div>


        <a class="page-not-found-home-link" href="/">Go to index</a>
    </main>
{{ end }}
