{{ define "title"}}
    Register
{{ end }}

{{ define "main" }}
    <main>
        <div class="container">

            <form class="gc-form" action="/register" method="post">
                <div class="gc-form-header">
                    Register
                </div>

                <label class="gc-form-label">
                    <span class="gc-form-label-text">Username</span>
                    <input class="gc-input-text" type="text" name="username" id="username">
                </label>
                <label class="gc-form-label">
                    <span class="gc-form-label-text">Password</span>
                    <input class="gc-input-text" type="password" name="password">
                </label>
                <label class="gc-form-label">
                    <span class="gc-form-label-text">Repeat password</span>
                    <input class="gc-input-text" type="password" name="password_repeat">
                </label>
                <div class="gc-form-group-container">
                    <span class="gc-form-label-text">Gender</span>
                    <div class="gc-form-group">
                        <label class="gc-form-label">
                            <span class="gc-form-label-text">Male</span>
                            <input type="radio" name="gender" value="male" checked>
                        </label>
                        <label class="gc-form-label">
                            <span class="gc-form-label-text">Female</span>
                            <input type="radio" name="gender" value="female">
                        </label>
                    </div>
                </div>

                <label class="gc-form-label">
                    <span class="gc-form-label-text">Birthday</span>
                    <input class="gc-input-text" type="date" name="birthday" value="2000-01-01">
                </label>

                <div class="gc-form-divider">
                    <span class="gc-form-divider-label">Finance data</span>
                </div>

                <label class="gc-form-label">
                    <span class="gc-form-label-text">Bank</span>
                    <select class="gc-input-text" name="bank">
                        <option value="priorbank">Priorbank</option>
                        <option value="alfabank">Alfabank</option>
                    </select>
                </label>

                <div class="gc-form-group-container">
                    <span class="gc-form-label-text">Salary</span>
                    <div class="gc-form-group">
                        <label>
                            <input class="gc-input-text" type="number" name="salary" placeholder="зп">
                        </label>
                        <label class="gc-form-label">
                            <select class="gc-input-text" name="currency">
                                <option value="USD">USD</option>
                                <option value="BYN">BYN</option>
                            </select>
                        </label>
                    </div>
                </div>
                <label class="gc-form-label">
                    <span class="gc-form-label-text">Payday</span>
                    <input class="gc-input-text" type="number" placeholder="9" name="salary_day" min="1" max="31">
                </label>
                {{ if .error }}
                    <span class="gc-form-error">{{ .error }}</span>
                {{ end }}
                <button type="submit" class="gc-input-button">Register</button>
                <a class="gc-form-link" href="/login">Login</a>
            </form>
        </div>
    </main>
{{ end }}
