{{ define "title"}}
    UI-KIT
{{ end }}

{{ define "main" }}
    <main>
        <div class="container">
            <h2>UIKIT</h2>
            <form class="e-form">
                <fieldset>
                    <legend>
                        UIKIT
                    </legend>
                </fieldset>
            </form>
        </div>
    </main>
{{ end }}
