{{ define "title"}}
    User
{{ end }}

{{ define "main" }}
    <main>
        <div class="container">
            <h2>User</h2>
            <span>Welcome, {{ .username }}! {id: {{ .userId }} }</span>
        </div>
    </main>
{{ end }}
