{{ define "title"}}
    User
{{ end }}

{{ define "main" }}
    <main>
        <div class="container">
            <h2>User</h2>
            <span>Welcome, {{ .username }}! {id: {{ .userID }} }</span>
            <a href="/logout">Logout</a>
        </div>
    </main>
{{ end }}
